
	
            
            <div class="panel panel-primary">
			<div class="panel-heading ">
				<h3 class="panel-title text-warning pull-left">Quote History</h3>
				<a href="/quote" class="btn btn-success pull-right">New Quote</a>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body" id="accordion">
				<table id="myTable"class="table table-striped table-hover" >

					<thead>
						<tr>
							<th><button type="button" class="btn btn-xs btn-default" id="name-btn">Date</button></th>
							<th><button type="button" class="btn btn-xs btn-default" id="style-btn">Company</button></th>
							<th><button type="button" class="btn btn-xs btn-default" id="rating-btn">Description</button></th>
							<th><button type="button" class="btn btn-xs btn-default" id="abv-btn">Quotes</button></th>
							
						</tr>
					</thead>
					<tbody>
						<!-- quotes table goes here -->

                        {{#each quotes}}
                        <tr>
                            
                            <td>{{this.date}}</td>
                            <td>{{this.company}}</td>
                            <td>{{this.description}}</td>
                            <td>
                                <form action="/result/{{this.id}}?_method=GET" method="POST">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <button class="btn btn-default" type="submit">View 
                                    </button>
                                </form>
                            </td>
                        </tr>
                         {{/each}}

						<!-- /quotes table goes here -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
    


