    <div class="container">
        <h3>Digital Streaming Quotes</h3>
        <button type="submit" id="newQuote" class="btn btn-success">
            <a href="/quote">New Quote</a>
        </button>
        <hr>          
          <!-- Table -->
            
            <div class="table-responsive">          
			<table class="table table-striped table-hover" style ="box-shadow:10px 10px 5px black ">
				<thead>
						<tr>
						<th colspan="5" class ="tableTitle" >Digital Streaming Quote History {{quote.company}} </th>
						</tr>
						<tr>
							<th>Date</th>
                            <th>Company</th>
                            <th>Description</th>
                            <th>View Quotes</th>   
						</tr>
                                           <tbody  id="quoteInfo" class="table table-hover tableTitle">
                {{#each quotes}}
                    <tr>
                        <td>{{this.date}}</td>
                        <td>{{this.company}}</td>
                        <td>{{this.description}}</td>
                        <td>
                            <form action="/result/{{this.id}}?_method=GET" method="POST">
                                <input type="hidden" name="id" value="{{this.id}}">
                                <button class="btn btn-default" type="submit">View 
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody> 
				</thead>
        	</table>
</div>
        </div>        
    </div>


