<!--<h1>{{quote.date}}</h1>
<p>{{quote.company}}</p>
<p>{{quote.description}}</p>
<p>{{quote.contract_term}}</p>-->
<script>
Handlebars.registerHelper("math", function(lvalue, operator, rvalue, options) {
    lvalue = parseFloat(lvalue);
    rvalue = parseFloat(rvalue);
        
    return {
        "+": lvalue + rvalue,
        "-": lvalue - rvalue,
        "*": lvalue * rvalue,
        "/": lvalue / rvalue,
        "%": lvalue % rvalue
    }[operator];
});

var rendered = Handlebars.compile(
    '{{#each values}}' + 
    'i={{@index}}: ' +
    'i+1 = {{math @index "+" 1}}, ' + 
    'i-0.5 = {{math @index "+" "-0.5"}}, ' + 
    'i/2 = {{math @index "*" 2}}, ' + 
    'i%2 = {{math @index "%" 2}}, ' + 
    'i*i = {{math @index "*" @index}}\n' +
    '{{/each}}'
)({
    values : [ 'a', 'b', 'c', 'd', 'e' ]
});

$("#result").html(rendered);

</script>
<div class="container">
<h3>{{quote.date}}</h3>
<h3>{{quote.description}}</h3>
<h3>Term of contract {{quote.contract_term}} year(s)</h3>
<h1>{{quote.company}}</h1>
<div class="table-responsive">          
<table>
	<tr>
		<td></td>
		<th>Year 1</th>
		<th>Year 2</th>
		<th>Year 3</th>
	</tr>
	<br>
	<tr>
		<th># of Channels</th>
		<td>{{quote.year_one_channels}}</td>
	<td>{{quote.year_two_channels}}</td>
	<td>{{quote.year_three_channels}}</td>
	</tr>
	<tr>
		<th>Monthly Fee </th>
		<td>{{quote.year_one_monthly_streaming}}</td>
		<td>{{quote.year_two_monthly_streaming}}</td>
		<td>{{quote.year_three_monthly_streaming}}</td>
		
	</tr>
	<tr>
		<th>Setup Fee</th>
		<td>{{quote.year_one_setup_fee}}</td>
		<td>{{quote.year_two_setup_fee}}</td>
		<td>{{quote.year_three_setup_fee}}</td>
		
	</tr>
	<tr>
		<th>Support</th>
		<td>{{quote.year_one_support_fee}}</td>
		<td>{{quote.year_two_support_fee}}</td>
		<td>{{quote.year_three_support_fee}}</td>
	
	</tr>
	<tr>
		<th>Annual Fee</th>
		<td>{{quote.year_one_annual_fee}}</td>
		<td>{{quote.year_two_annual_fee}}</td>
		<td>{{quote.year_three_annual_fee}}</td>
		
	</tr>
</table>
  </div>
</div>

</body>
</html>


