<div class="container">
<h3>{{quote.date}}</h3>
<h3>{{quote.description}}</h3>
<h3>Term of contract {{quote.contract_term}} year(s)</h3>
<h1>{{quote.company}}</h1>
<div class="table-responsive">          
<table>
	<tr>
		<td></td>
		<th>Year 1</th>
		<th>Year 2</th>
		<th>Year 3</th>
	</tr>
	<br>
	<tr>
		<th># of Channels</th>
		<td>{{quote.year_one_channels}}</td>
	<td>{{quote.year_two_channels}}</td>
	<td>{{quote.year_three_channels}}</td>
	</tr>
	<tr>
		<th>Monthly Fee </th>
		<td>{{quote.year_one_monthly_streaming}}</td>
		<td>{{quote.year_two_monthly_streaming}}</td>
		<td>{{quote.year_three_monthly_streaming}}</td>
		
	</tr>
	<tr>
		<th>Setup Fee</th>
		<td>{{quote.year_one_setup_fee}}</td>
		<td>{{quote.year_two_setup_fee}}</td>
		<td>{{quote.year_three_setup_fee}}</td>
		
	</tr>
	<tr>
		<th>Support</th>
		<td>{{quote.year_one_support_fee}}</td>
		<td>{{quote.year_two_support_fee}}</td>
		<td>{{quote.year_three_support_fee}}</td>
	
	</tr>
	<tr>
		<th>Annual Fee</th>
		<td>{{quote.year_one_annual_fee}}</td>
		<td>{{quote.year_two_annual_fee}}</td>
		<td>{{quote.year_three_annual_fee}}</td>
		
	</tr>
</table>
  </div>
  <button type="submit" id="pdf" class="btn btn-success" onclick="pdfMake.createPdf(docDefinition).download()">Create PDF</button>
</div>

