
<div class="container">
  <div class="row content">
  

  <!--Middle area to seach and show list of previous quotes-->
    <div class="col-sm-12 text-left">

<h4>{{quote.date}}</h4>
<h1>{{quote.company}}<h1>
<h4>Contract Term    {{quote.contract_term}} year(s)</h4>

<h4>Protocols        {{quote.HLS}} </h4>
<h4>Support Plan {{quote.support_plan}}</h4>
<div class="table-responsive">          
<table>
	<tr>
		<td></td>
		<th>Year 1</th>
		<th>Year 2</th>
		<th>Year 3</th>
	</tr>
	<br>
	<tr>
		<th># of Channels</th>
		<td>{{quote.year_one_channels}}</td>
	<td>{{quote.year_two_channels}}</td>
	<td>{{quote.year_three_channels}}</td>
	</tr>

	<tr>
		<th>Setup Fee</th>
		<td>{{quote.year_one_setup_fee}}</td>
		<td>{{quote.year_two_setup_fee}}</td>
		<td>{{quote.year_three_setup_fee}}</td>
		
	</tr>
	<tr>
		<th>Support</th>
		<td>{{quote.year_one_support_fee}}</td>
		<td>{{quote.year_two_support_fee}}</td>
		<td>{{quote.year_three_support_fee}}</td>
	
	</tr>
		<tr>
		<th>Monthly Fee </th>
		<td>{{quote.year_one_monthly_streaming}}</td>
		<td>{{quote.year_two_monthly_streaming}}</td>
		<td>{{quote.year_three_monthly_streaming}}</td>
		
	</tr>
	<tr>
		<th>Annual Fee</th>
		<td>{{quote.year_one_annual_fee}}</td>
		<td>{{quote.year_two_annual_fee}}</td>
		<td>{{quote.year_three_annual_fee}}</td>
		
	</tr>
</table>
  </div>
</div>
<h4> {{quote.description}}</h4>
<button type="submit" id="newQuote" class="btn btn-success"><a href="/">Home</button>
</div>
</div>


